In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00502/online_retail_II.xlsx')

In [ ]:
df.describe()

            Quantity          Price    Customer ID
count  525461.000000  525461.000000  417534.000000
mean       10.337667       4.688834   15360.645478
std       107.424110     146.126914    1680.811316
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13983.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [ ]:
df.shape

(525461, 8)

In [ ]:
df_sample = df.sample(n=100, replace=False, random_state=1)
df_sample.describe()

         Quantity       Price   Customer ID
count  100.000000  100.000000     83.000000
mean     5.870000    2.772200  15425.710843
std     17.160946    2.751018   1680.258143
min   -127.000000    0.000000  12471.000000
25%      1.000000    1.150000  13813.000000
50%      3.000000    2.025000  15353.000000
75%     12.000000    3.377500  16835.000000
max     60.000000   15.950000  18069.000000

In [ ]:
df = pd.DataFrame([
    [0, 1, 0, 0, 0, 1],
    [2, 0, 1, 1, 0, 0],
    [None, 0, 2, 0, 1, 0],
    [3, 1, None, 0, 1, 0],
    [None, 0, 2, 1,0,0]]
, columns = ['Atr1', 'Atr2','Atr3', 'Atr4_A', 'Atr4_B', 'Atr4_C'])
df

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   NaN     0   2.0       0       1       0
3   3.0     1   NaN       0       1       0
4   NaN     0   2.0       1       0       0

In [ ]:
df.isnull().sum()

Atr1      2
Atr2      0
Atr3      1
Atr4_A    0
Atr4_B    0
Atr4_C    0
dtype: int64

In [ ]:
df.dropna(axis="rows")

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0

In [ ]:
df.dropna(axis="columns")

   Atr2  Atr4_A  Atr4_B  Atr4_C
0     1       0       0       1
1     0       1       0       0
2     0       0       1       0
3     1       0       1       0
4     0       1       0       0

In [ ]:
df.fillna(0)

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   0.0     0   2.0       0       1       0
3   3.0     1   0.0       0       1       0
4   0.0     0   2.0       1       0       0

In [ ]:
df.fillna(method = "ffill")

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   2.0     0   2.0       0       1       0
3   3.0     1   2.0       0       1       0
4   3.0     0   2.0       1       0       0

In [ ]:
df.fillna(method = "bfill")

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   3.0     0   2.0       0       1       0
3   3.0     1   2.0       0       1       0
4   NaN     0   2.0       1       0       0

In [ ]:
df

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   NaN     0   2.0       0       1       0
3   3.0     1   NaN       0       1       0
4   NaN     0   2.0       1       0       0

In [ ]:
mean_x0 = np.mean(df.values[:,0])
df["Atr1"].fillna(mean_x0)

0    0.0
1    2.0
2    NaN
3    3.0
4    NaN
Name: Atr1, dtype: float64

In [ ]:
df.fillna(value=df.mean())

       Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0  0.000000     1  0.00       0       0       1
1  2.000000     0  1.00       1       0       0
2  1.666667     0  2.00       0       1       0
3  3.000000     1  1.25       0       1       0
4  1.666667     0  2.00       1       0       0

In [ ]:
df = pd.DataFrame([
    [0, 1, 0, 0, 0, 1],
    [2, 0, 1, 1, 0, 0],
    [None, 0, 2, 0, 1, 0],
    [3, 1, None, 0, 1, 0],
    [None, 0, 2, 1,0,0]]
, columns = ['Atr1', 'Atr2','Atr3', 'Atr4_A', 'Atr4_B', 'Atr4_C'])

In [ ]:
mm = np.nanmean(df.values, axis=0)
df.fillna(value={'Atr1': mm[0], 'Atr3': mm[2]})

       Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0  0.000000     1  0.00       0       0       1
1  2.000000     0  1.00       1       0       0
2  1.666667     0  2.00       0       1       0
3  3.000000     1  1.25       0       1       0
4  1.666667     0  2.00       1       0       0

In [ ]:
df

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   NaN     0   2.0       0       1       0
3   3.0     1   NaN       0       1       0
4   NaN     0   2.0       1       0       0

In [ ]:
df.mode()

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0   0.0   2.0     0.0     0.0     0.0
1   2.0   NaN   NaN     NaN     NaN     NaN
2   3.0   NaN   NaN     NaN     NaN     NaN

In [ ]:
df.fillna(value=df.mode().iloc[0])

   Atr1  Atr2  Atr3  Atr4_A  Atr4_B  Atr4_C
0   0.0     1   0.0       0       0       1
1   2.0     0   1.0       1       0       0
2   0.0     0   2.0       0       1       0
3   3.0     1   2.0       0       1       0
4   0.0     0   2.0       1       0       0